.sideContainer {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.LogoContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
